
.main{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.main_home {
    background-image: url(/assets/home/background-home-desktop.jpg);
}

.main_destination {
    background-image: url(/assets/destination/background-destination-desktop.jpg);
}

.main_crew {
    background-image: url(/assets/crew/background-crew-desktop.jpg);
}

.main_technology {
    background-image: url(/assets/technology/background-technology-desktop.jpg);
}

@media (max-width: 769px) {
    .main_home {
        background-image: url(/assets/home/background-home-tablet.jpg);
    } 

    .main_destination {
        background-image: url(/assets/destination/background-destination-tablet.jpg);
    }
    
    .main_crew {
        background-image: url(/assets/crew/background-crew-tablet.jpg);
    }
    
    .main_technology {
        background-image: url(/assets/technology/background-technology-tablet.jpg);
    }
}

@media (max-width: 426px) {
    .main_home {
        background-image: url(/assets/home/background-home-mobile.jpg);
    } 

    .main_destination {
        background-image: url(/assets/destination/background-destination-mobile.jpg);
    }
    
    .main_crew {
        background-image: url(/assets/crew/background-crew-mobile.jpg);
    }
    
    .main_technology {
        background-image: url(/assets/technology/background-technology-mobile.jpg);
    }
}